<div class="layout-wrapper" [ngClass]="{'layout-news-active': newsActive}">

    <div>
        <div>
            <router-outlet></router-outlet>
        </div>
<!-- 
        <div class="content-section layout-footer clearfix" style="bottom: 0; left: 0; right: 0; position: absolute; padding: 10px 30px;">
            <span style="top: 17px; position:absolute">Created by: Đỗ Cao Huỳnh</span>
            <div class="footer-links">
                <a href="https://www.facebook.com/groups/923380741333119/"><i class="fa fa-facebook"></i></a>
            <div>
        </div> -->
    </div>

</div>
